body {
  background-color: black;
  color: white;
  text-align: center;
}

.rotate-box {
  border: 2px solid black;
  height: auto;
  width: 50vw;
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.circle {
  border-radius: 50%;
}
